<div th:fragment="content">
    <p style="margin: 0 0 15px 0; font-size: 16px; color: #333333;">
        Hello, dear customer!</p>
    <p style="margin: 0 0 15px 0; font-size: 16px; color: #333333;">
        Your new password is: <span th:text="${newPassword}"></span></p>
    <p style="margin: 0 0 20px 0; font-size: 16px; color: #333333;">
        You can use this password to log in to your account.</p>
    <p style="margin: 0 0 20px 0; font-size: 16px; color: #333333;">
        Please change your password as soon as possible.</p>
</div>
